[submodule "scr1"]
	path = scr1
	url = https://github.com/marsohod4you/scr1
[submodule "fpga"]
	path = fpga
	url = https://github.com/marsohod4you/fpga-sdk-prj
	branch = master
[submodule "sw/sc-bl"]
	path = sw/sc-bl
	url = https://github.com/marsohod4you/sc-bl
[submodule "sw/zephyr"]
	path = sw/zephyr
	url = https://github.com/marsohod4you/zephyr
	branch = scr1
